// Меню
.A_TextMenubar {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0.7vw 0.7vw;
    text-transform: uppercase;
    color: var(--Mushy-White);
    font-weight: 500;
    font-size: 1vw;
    letter-spacing: 0.12vw;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    &:hover {
        color: var(--Sunny);
    }
    &:active {
        color: var(--Fox);
    }
}

.A_SearchInput {
    border: none;
    font-family: 'Montserrat';
    background: none;
    width: 100%;
    height: 100%;
    border-radius: 12vw;
    font-size:  1.6vw;
    padding: 0 2.4vw;
    color: var(--Ashy-Grey);
    background-color: var(--Blacky);
    &::placeholder {
        color: var(--Ashy-Grey);
        font-size:  1.6vw;
        font-weight: 500;
    }
    &:hover, &:focus {
        outline: none;
        border: none;
        color: var(--Mushy-White);
    }
}
.A_SearchButton {
    height: 100%;
    width: 5.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    border-radius: 12vw;
    cursor: pointer;
    background-color: var(--Fox);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    &:hover {
        transform: scale(0.8);
        background-color: var(--Sunny);
    }
    &.disabled {
        background-color: var(--Misty-Grey);
        cursor: default;
    }
}
.A_TextIndexCover {
    width: 89.5vw;
}
body.articles {
    .A_TextMenubar:nth-of-type(1) {
        color: var(--Fox);
            &:active {
                color: var(--Sunny);
            }
    }
}
body.memos {
    .A_TextMenubar:nth-of-type(2) {
        color: var(--Fox);
        &:active {
            color: var(--Sunny);
        }
    }
}
body.gribwiki {
    .A_TextMenubar:nth-of-type(4) {
        color: var(--Fox);
        &:active {
            color: var(--Sunny);
        }
    }
}
body.tests {
    .A_TextMenubar:nth-of-type(5) {
        color: var(--Fox);
        &:active {
            color: var(--Sunny);
        }
    }
}
body.recipes {
    .A_TextMenubar:nth-of-type(3) {
        color: var(--Fox);
        &:active {
            color: var(--Sunny);
        }
    }
}

// Подвал
.A_HeaderFooter {
    font-size: 1vw;
    text-transform: uppercase;
    color: var(--Ashy-Grey);
}
.A_TextFooter {
    font-size: 0.9vw;
    font-weight: 200;
    color: var(--Mushy-White);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    margin: 0.8vw 0vw;
    &:hover {
        color: var(--Fox);
    }
    &:active {
        color: var(--Sunny);
    }
}
.A_InstIcon, .A_TelegaIcon, .A_DzenIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    border-radius: 3vw;
    background-color: var(--Fox);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    border: solid 0.1vw var(--Fox);
    img {
        width: 2vw;
        height: 2vw;
    }
    &:hover {
        background-color: var(--Sunny);
    }
    &:active {
        transform: scale(0.95);
        border: solid 0.1vw var(--Sunny);
    }
}

// Фильтры
.A_Filter {
    border: solid 0.1vw var(--Fox);
    border-radius: 12vw;
    color: var(--Fox);
    width: 100%;
    padding: 1vw 0;
    background-color: var(--Charcoal);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    &:hover {
        background-color: var(--Fox);
        color: var(--Mushy-White);
    }
    &:active {
        background-color: var(--Sunny);
        color: var(--Mushy-White);
    }
}
.A_Filter.active {
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    background-color: var(--Fox);
    color: var(--Mushy-White);
}

// Теги
.A_Tag {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0.7vw 1.6vw;
    border-radius: 4vw;
    border: solid var(--Fox) 0.1vw;
    color: var(--Fox);
    background-color: var(--Mushy-White) ;
} 
.S_CoverUnoMemo {
    .A_Tag {
        color: var(--Mushy-White);
        background-color: var(--Fox);
    }
}
.W_SignsUnoMemo {
    .A_Tag {
        position: relative;
        color: var(--Charcoal);
    }
} 
.S_MainCardArticle {
    .A_Tag:nth-of-type(1) {
        background-color: var(--Fox);
        color: var(--Mushy-White);
    }
}
.O_CardLargeRecipe {
    .A_Tag {
        border-color: var(--Charcoal);
        color: var(--Charcoal);
        background-color: var(--Fox) ;
        &:nth-of-type(1) {
        color: var(--Fox);
        background-color: var(--Charcoal) ;
        }
    }    
}
.O_IndexArticle {
    .A_Tag {
        background-color: var(--Charcoal);
        color: var(--Mushy-White);
    }
}
.O_CardLargeGrib {
    .A_Tag:nth-of-type(1) {
        background-color: var(--Fox);
        color: var(--Mushy-White);
    }
}
.C_GribwikiPageInfo {
    .A_Tag {
        background-color: var(--Fox);
        color: var(--Mushy-White);
    }
}
.C_GribwikiValues {
    .A_Tag {
        color: var(--Charcoal);
        border-color: var(--Mushy-White);
    }
}

// Кнопки в единичных страницах
.M_PageBottom {
    .A_InstIcon, .A_DzenIcon, .A_TelegaIcon {
        img {
            width: 64%;
            height: 64%;
        }
    }
}
.A_ArrowIcon, .A_InstIcon, .A_DzenIcon, .A_TelegaIcon {
    width: 3vw;
    height: 3vw;
    border-radius: 4vw;
    background-color: var(--Fox);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1vw var(--Fox);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    &:hover {
        background-color: var(--Sunny);
        border: solid 0.1vw var(--Sunny);
    }
    &:active {
        transform: scale(0.95);
        border: solid 0.1vw var(--Sunny);
    }
}
.A_ArrowIcon {
    img {
        width: 42%;
        height: 42%;
    }
}
.M_TestCard {
    .A_ArrowIcon {
        position: absolute;
        top: 1.2vw;
        right: 1.2vw;
        img {
            transform: rotate(180deg);
        }
    }
    &:hover {
        .A_ArrowIcon {
            background-color: var(--Sunny);
        } 
    }
}
.M_PageBottom {
    &:hover {
        .A_ArrowIcon {
            background-color: var(--Sunny);
        } 
    }
}

// Главная
.A_TextIndexCover {
    h1 {
        color: var(--Fox);
        margin-bottom: 0.4vw;
    }
    p {
        color: var(--Mushy-White);
    }
}
.A_IndexAllButton {
    display: flex;
    gap: 1.2vw;
    align-items: center;
    p {
        transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
        color: var(--Fox);
    }
    .A_ArrowIcon {
        img {
            transform: rotate(180deg);
        }
    }
    &:hover {
        p {
            color: var(--Sunny);
        }
        .A_ArrowIcon {
            border: solid 0.1vw var(--Sunny); 
            background-color: var(--Sunny);
        }
    }

}
.A_IndexAllButton2 {
    display: none;
}
.O_CardTest:hover {
    .A_IndexAllButton {
        p {
            color: var(--Sunny);
        }
        .A_ArrowIcon {
            border: solid 0.1vw var(--Sunny); 
            background-color: var(--Sunny);
        }
    } 
}
.A_IndexPhotoArticle {
    width: 100%;
    height: 16vw;
    border-radius: 1.17vw;
    background-color: var(--Mushy-White);
}
body.index {
    .A_TextArticle {
        h4 {
            color: var(--Mushy-White);      
        }

    }
}
.A_IndexFormCover {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60.4vw;
    height: 28vw;
    border-radius: 1.17vw;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    h3 {
        color: var(--Charcoal);
        position: relative;
        margin: 2.4vw;
    }
}
#A_IndexFormButton {
    font-size: 1.4vw;
    width: 100%;
    padding: 2.4vw;
    border-radius: 1vw;
    border: 0;
    outline: none;
    color: var(--Mushy-White);
    background: var(--Fox);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 0px 0.5vw var(--Charcoal), 0px 0px 0px 0.6vw #ffffff3a;
    }
    &:active {
        background-color: var(--Sunny);
    }
}

// Статьи
.A_PhotoMainCardArticle{
    height: 109%;
    width: 46vw;
    background-size: cover;
    margin: -1.2vw -1.2vw 0 -1.2vw;
    border-radius: 1.17vw;
   
}
.A_TagUnoArticle {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0.7vw 1.6vw;
    border-radius: 4vw;
    border: solid var(--Fox) 0.1vw;
    color: var(--Fox);
    background-color: var(--Charcoal) ;
}
.A_PhotoArticle {
    width: 100%;
    border-radius: 1.17vw;
    object-fit: cover;
}
.A_TextArticle {
    h4 {
        color: var(--Charcoal);
        text-transform:none;
        margin: 0.4vw 0;
    }
    span {
        color: var(--Mushy-White);
    }
    p {
        font-size: 0.96vw;
        line-height: 1.6vw;
        color: var(--Ashy-Grey);
    }
}


.A_SubtitleUnoAtricle, .A_GribwikiPageSubtitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    h3 {
        color: var(--Mushy-White);
    }
    h3:nth-of-type(2) {
        color: var(--Fox);
    }
}





// Страница единичного рецепта
.A_CoverRecipe {
    width: 100%;
    height: auto;
}


// Памятки
.S_MainCardMemo {
    .A_Tag:nth-of-type(1) {
        background-color: var(--Fox);
        color: var(--Mushy-White);
    }
}
.A_PhotoMemo {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}
.A_TextMemo {
    color: var(--Charcoal);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 1.6vw;
    h3 {
        margin-bottom: 0.4vw;
    }
}
.A_MemoDownload {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Fox);
    width: 18%;
    height: 100%;
    border: none;
    border-radius: 5vw;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
    img {
      position: relative;
      width: auto;
      height: 38%;
    }
    &:hover {
      box-shadow: 0px 0px 0px 0.5vw #ffffff, 0px 0px 0px 0.6vw #0000003a;
    }
    &:active {
        background-color: var(--Sunny);
      }
  }
.A_MemoMore {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Mushy-White);
    width: 78%;
    height: 100%;
    border: none;
    border-radius: 1.2vw;
    padding: 0 2vw;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
    p {
      position: relative;
      color: var(--Charcoal);
    }
    img {
      position: relative;
      width: auto;
      transform: rotate(180deg);
      height: 28%;
    }
    &:hover {
        box-shadow: 0px 0px 0px 0.5vw #00000000, 0px 0px 0px 0.6vw #ffffff3a;
      }
    &:active {
        background-color: var(--Ashy-Grey);
    }
  }

//Gribwiki
.A_GribwikiPageAttention {
    background-color: var(--Mushy-White);
    border-radius: 1.17vw;
    color: var(--Fox)!important;
    font-weight: 400!important;
    padding: 2.4vw;
}
//Tests
.A_TestAnswer {
    background-color: var(--Misty-Grey);
    width: 26.4vw;
    padding: 1.2vw;
    border-radius: 1.17vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
    &.red {
        background-color: #DB6666;
        .Q_AnswerLetter {
            background-color: var(--Mushy-White);
            color: #DB6666;
        }
    }
    &.green {
        background-color: #99AE5B;
        .Q_AnswerLetter {
            background-color: var(--Mushy-White);
            color: #99AE5B;
        }
    }
}




@media only screen and (max-width: 430px) {
    .A_MobileMenubar {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .A_TextMenubar {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 2.4vw 1.4vw;
        font-size: 3.6vw;
        color: var(--Mushy-White);
    }
    .A_IndexAllButton2 {
        display: flex;
        gap: 4.8vw;
        align-items: center;
        p {
            transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
            color: var(--Fox);
        }
        .A_ArrowIcon {
            img {
                transform: rotate(180deg);
            }
        }
        &:hover {
            p {
                color: var(--Sunny);
            }
            .A_ArrowIcon {
                border: solid 0.1vw var(--Sunny); 
                background-color: var(--Sunny);
            }
        }
    
    }
    .A_IndexAllButton {
        display: none;
    }
    // Кнопки в единичных страницах
    .M_PageBottom {
        .A_InstIcon, .A_DzenIcon, .A_TelegaIcon {
            img {
                width: 64%;
                height: 64%;
            }
        }
    }
    .A_ArrowIcon, .A_InstIcon, .A_DzenIcon, .A_TelegaIcon {
        width: 9vw;
        height: 9vw;
        border-radius: 9vw;
    }
    .M_TestCard {
        .A_ArrowIcon {
            top: 4.8vw;
            right: 4.8vw;
        }
    }
    .A_IndexPhotoArticle {
        height: 48vw;
        border-radius: 3.34vw;
    }
    .A_TextArticle {
        h4 {
            margin-bottom: 1.2vw;
        }
        p {
            line-height: 4.8vw;
            font-size: 3.6vw;
        }
    }
    .A_Tag {
        padding: 2.4vw 5.6vw;
        border-radius: 10vw;
        border: solid var(--Fox) 0.36vw;
        color: var(--Fox);
        background-color: var(--Mushy-White) ;
    } 
    .A_TextMemo {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 4.8vw;
    }
    .A_MemoMore {
        border-radius: 2.4vw;
        padding: 0 4.8vw;
    }
    .A_MemoDownload {
        border-radius: 16vw;
    }
    .A_IndexFormCover {
        width: 100%;
        height: 56vw;
        border-radius: 3.34vw;
        h3 {
            margin: 4.8vw;
        }
    }
    #A_IndexFormButton {
        font-size: 3.6vw;
        padding: 2.4vw;
        border-radius: 3vw;
    }
    .A_HeaderFooter {
        font-size: 5.6vw;
        text-align: center;
        margin-bottom: 2.4vw;
    }
    .A_TextFooter {
        font-size: 3.6vw;
        margin: 1.6vw 0vw;
        text-align: center;
    }
    .A_InstIcon, .A_TelegaIcon, .A_DzenIcon {
        width: 9.6vw;
        height: 9.6vw;
        border-radius: 12vw;
        img {
            width: 66%;
            height: 66%;
        }
    }
    .A_PhotoMainCardArticle{
        height: auto;
        width: 100%;
        margin: 0;
        border-radius: 3.34vw;
    }
    .A_PhotoArticle {
        border-radius: 3.34vw;
    }
    .A_TagUnoArticle {
        padding: 2.4vw 5.6vw;
        border-radius: 12vw;
        border: solid var(--Fox) 0.2vw;
    }
    .A_TestAnswer {
        width: 100%;
        padding: 4.8vw;
        border-radius: 3.34vw;
    }
    .A_CoverRecipe {
        height: 56vw;
    }
}