
    .M_SectionsMenubar {
        display: flex;
        gap: 2vw;
    }


footer {
    // блок с соц сетями
    .M_Socials {
        .A_HeaderFooter {
            margin-bottom: 0.8vw;
        }
    }
}
.M_PageBottom {
    height: 4.8vw;
    display: flex;
    gap: 2.4vw;
    padding: 1.2vw;
    align-items: center;
    p {
        color: var(--Fox);
    }
    &:hover {
        p{
            color: var(--Sunny);
        }
    }
    &.download {
        background-color: var(--Fox);
        border-radius: 1.17vw;
        transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
        p {
            color: var(--Mushy-White);
        }
        img {
            margin-right: 0.7vw;
        }
        &:hover {
            box-shadow: 0px 0px 0px 0.5vw var(--Charcoal), 0px 0px 0px 0.6vw #ffffff3a;
        }
        &:active {
            background-color: var(--Sunny);
        }
    }
}
body.tests {
    .M_PageBottom {
        margin-top: 1.2vw;
        justify-content: center;
    }
}

.M_IndexHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.articles {
    .M_TagsLargeArticle {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7vw 1.2vw;
    }
}

// Рецепты
.M_LargeRecipeInfo {
    position: absolute;
    top: 2.4vw;
    right: 1.2vw;
    width: 28vw;
    h3 {
        margin-bottom: 1.2vw;
        color: var(--Charcoal);
    }
}
.M_CharacteristicRecipe {
    display: flex;
    align-items: center;
    flex-direction: column;
    h5 {
        color: var(--Fox);
        text-transform: lowercase;
    }
}

.M_InfoPageRecipe {
    h3, h4 {
        color: var(--Charcoal);
    }
    h3 {
        margin-bottom: 0.7vw;
    }
    h4 {
        text-transform: none;
    }
}
.M_PointRecipe {
    display: flex;
    gap: 1.8vw;
    h4 {
        color: var(--Fox);
    }
    p {
        color: var(--Mushy-White);
        font-weight: 250;
    }
}

//Грибвики
.M_Navigation {
    width: 89.5vw;
    color: var(--Ashy-Grey);
    font-weight: 250;
    margin-bottom: 1.2vw;
    span {
        color: var(--Mushy-White);
        img {
            height: 0.7vw;
        }
    }
}

// Тесты
.M_TestCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 1.17vw;
    padding: 2.4vw;
    overflow: hidden;
    width: 27.2vw;
    height: 16vw;
    background-color: var(--Mushy-White);
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    h3 {
        color: var(--Fox);
        margin-bottom: 0.4vw;
    }
    p {
        color: var(--Ashy-Grey);
    }
    &:hover {
        box-shadow: 0px 0px 0px 0.5vw #00000000, 0px 0px 0px 0.6vw #ffffff3a;
    }
}
.M_TestInfo {
    color: var(--Charcoal);
    margin: 2.4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36vw;
}


@media only screen and (min-width: 431px) and (max-width: 1024px) {
    .M_LargeRecipeInfo {
        position: relative;
        margin: 0 4.8vw 4.8vw 4.8vw;
        width: 100%;
        h3 {
            margin-bottom: 2.4vw;
        }
    }
    .M_TestCard {
        border-radius: 2.17vw;
        padding: 2.4vw;
        overflow: hidden;
        width: 41.2vw;
        height: 31vw;
        background-color: #F7F7F7;
        background-color: var(--Mushy-White);
        transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    }
    .M_TestInfo {
        p {
            width: 40vw;
        }
    }
}

@media only screen and (max-width: 430px) {
    .M_SectionsMenubar {
        display: none;
    }
    .open .M_SectionsMenubar {
        
        display: flex;
        padding: 10% 0;
        flex-direction: column;
    }
    .M_SearchField {
        display: none;
        width: 72vw;
        height: 3.2vw;
        padding: 0.8vw;
        justify-content: space-between;
        align-items: center;
    }
    .search-open .M_SearchField {
        display: flex;
    }
    .M_LargeRecipeInfo {
        position: relative;
        margin: 4.8vw;
        width: 100%;
        h3 {
            margin-bottom: 2.4vw;
        }
    }
    .M_TestCard {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 3.34vw;
        padding: 4.8vw;
        width: 100%;
        height: 48vw;
        h3 {
            margin-bottom: 0.8vw;
        }
    }
    .M_TestInfo {
        z-index: 2;
        position: relative;
        margin: 0;
        padding: 4.8vw;
        display: flex;
        justify-content: flex-start;
        gap: 4.8vw;
        width: 100%;
        height: 100%;
        p {
            display: none;
        }
    }
    .M_PageBottom {
        height: 12vw;
        width: 100%;
        gap: 2.4vw;
        padding: 4.8vw 0;
        justify-content: space-between;
        align-items: center;
        &.download {
            padding: 4.8vw;
            border-radius: 3.34vw;
        }
    }
    body.tests {
        .M_PageBottom {
            margin-top: 5.2vw;
        }
    }
    .M_Navigation {
        margin-bottom: 5.2vw;
        span {
            img {
                height: 2.4vw;
                margin: 0 1.2vw;
            }
        }
    }
    .M_InfoPageRecipe {
        h3 {
            margin-bottom: 1.2vw;
        }
    }
}