footer {
    // Подвал, секция с разделами полезностей
    .W_MainFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5.6vw;
    }
}

.W_IndexForm{
    background-color: var(--Mushy-White);
    border-radius: 1.17vw;
    width: 100%;
    padding: 1.2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body.recipes {
    .W_InfoPageRecipe {
        display: flex;
        flex-direction: column;
        gap: 2.4vw;
    }
    .W_TextIngredients {
        display: flex;
        justify-content: space-between;
        width: 18vw;
        div {

            display: flex;
            flex-direction: column;
            p {
                padding: 0.7vw 0;
            }
        }
        div:first-of-type {
            p {
                color: var(--Charcoal);
            }
        }
        div:last-of-type {
            align-items: center;
            p {
                color: var(--Fox);
            }
        }
    }
    .W_PointsRecipe {
        padding: 0 2.4vw;
        display: flex;
        justify-content: space-between;
    }
}
.W_TextMainCardArticle {
    h2 {
        color: var(--Charcoal);
        margin-bottom: 0.4vw;
    }
    p {
        color: var(--Charcoal);
    }
}

.W_TextGribwiki {
    position: absolute;  
}
.O_CardGrib {
    .W_TextGribwiki {
        bottom: 1.2vw;
        left: 1.2vw;
    }
}
.O_CardLargeGrib {
    .W_TextGribwiki {
        top: 1.2vw;
        left: 1.2vw;
    }
}
.W_TextMainCardMemo {
    h2 {
        color: var(--Charcoal);
        margin-bottom: 0.4vw;
    }
    p {
        color: var(--Charcoal);
    }
}
.W_SignsUnoMemo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5.6vw 16vw;
    gap: 0.7vw 1.2vw;
    background-color: var(--Fox);
    border-radius: 1.17vw;
}