.M_PostTeaser {
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
    padding: 0.7vw;
    border-radius: 1.17vw;
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
    &:hover {
        box-shadow: 0px 0px 0px 0.5vw var(--Charcoal), 0px 0px 0px 0.6vw #ffffff3a;
    }
}
@media only screen and (min-width: 431px) and (max-width: 1024px) {
    .M_PostTeaser {
        gap: 1vw;
    }
}

@media only screen and (max-width: 430px) {
    .M_PostTeaser {
        border-radius: 3.34vw;
        padding: 4.8vw;
    }
}
