@font-face {
  font-family: 'TRYGrtsk';
  src: url('fonts/TRYGrtsk-LightSlant.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TRYGrtsk';
  src: url('fonts/TRYGrtsk-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TRYGrtsk';
  src: url('fonts/TRYGrtsk-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TRYGrtsk';
  src: url('fonts/TRYGrtsk-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TRYGrtsk';
  src: url('fonts/TRYGrtsk-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TRYGrtsk';
  src: url('fonts/TRYGrtsk-BoldSlant.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TRYGrtsk';
  src: url('fonts/TRYGrtsk-MediumSlant.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TRYGrtsk';
  src: url('fonts/TRYGrtsk-ExtraLightSlant.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TRYGrtsk';
  src: url('fonts/TRYGrtsk-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TRY Grtsk';
  src: url('fonts/TRYGrtsk-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TRYGrtsk';
  src: url('fonts/TRYGrtsk-SemiBoldSlant.ttf');
  font-weight: 600;
  font-style: italic;
}
