// Общие стили для страниц (отступы, размеры текстов)
body {
    width: 100%;
    min-height: 100vh;
    // height: 100vh;
    padding: 6.4vw 5vw 0vw 5vw;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrapper {
    flex: 1; 
}
* {
    box-sizing: border-box;
    // transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
body, a, button {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 600;
}
h2 {
    font-size: 3.36vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 3.64vw;
}
h3 {
    font-size: 2.3vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2.8vw;
}
h4 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2.4vw;
}
h5 {
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
}
h6 {
    font-size: 0.9vw;
    font-weight: 200;
}
p {
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 1.8vw;
}
img {
    object-fit: cover;
}
span img {
    height: 4vw;
}
// Ползунок
::-webkit-scrollbar {
    width: 0.7vw; 
}
::-webkit-scrollbar-thumb {
    background-color: var(--Fox); 
    border-radius: 1.17vw;
}

// Настройка цветов страниц
body {
    background-color: var(--Charcoal);
}

// Адаптивность для планшета
@media only screen and (min-width: 431px) and (max-width: 1024px) {
    body {
        width: 100vw;
        padding: 10.8vw 5.2vw 0 5.2vw;
    }
    h1 {
        font-size: 5.2vw;
    }
    h2 {
        font-size: 4.2vw;
        line-height: 5.2vw;
    }
    h3 {
        font-size: 3.6vw;
        line-height: 4.2vw;
        font-weight: 600;
    }
    h4 {
        font-size: 2.4vw;
        font-weight: 400;
        line-height: 3.6vw;
    }
    h5 {
        font-size: 1.6vw;
    }
    h6 {
        font-size: 0.9vh;
    }
    p, ol, ul, li {
        font-size: 2.3vw;
        line-height: 3.2vw;
    }
    span img {
        height: 5.6vw;
    }
}

@media only screen and (max-width: 430px) {
    body {
        width: 100vw;
        padding: 23.4vw 11vw 0 11vw;
    }
    h1 {
        font-size: 11vw;
    }
    h2 {
        font-size: 7.6vw;
        line-height: 8.6vw;
    }
    h3 {
        font-size: 6.4vw;
        line-height: 7.2vw;
    }
    h4 {
        font-size: 4.8vw;
        line-height: 5.6vw;
    }
    h5 {
        font-size: 2.4vw;
    }
    h6 {
        font-size: 0.9vh;
    }
    p, ol, ul, li {
        font-size: 3.6vw;
        line-height: 5.6vw;
    }
    span img {
        height: 10vw;
    }
    
}