$mushy: 'MushyScript-Cream';
$black: black;
$white: white;
$orange: #F87239;

body {
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div,
  & > a {
    margin: 10px 0;
  }
}

.logo {
  font-family: $mushy;
}

