body.index {
  width: 100%;
  margin-top: -2.3vw;
  padding: 0vw 5vw 0 5vw;
  background-color: white;
  overflow-x: hidden;
  // общие стили для секций
  section {
    position: relative;
    width: 100%;
    margin: 6vw 0;
    height: auto;
  }
  // Меню
  .menu {
    position: fixed;
    height: 4vw;
    width: 90%;
    padding: 1vw 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 1vw;
    border-radius: 1.17vw;
    background-color: #211F1D;
    z-index: 10;
    img {
      border-radius: 0;
      height: 100%;
      width: auto;
    }
    .menu_cattegories {
      display: flex;
      flex-direction: row;
      .menu_button {
        margin-right: 0.7vw;
        padding: 0.5vw 2vw;
        width: auto;
        height: 2.4vw;
        border-radius: 2vw;
        transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
     
        p {
          margin-top: -0.1vw;
          font-size: 1vw ;
          font-weight: 300;
          color: #ffffff;
        }
      }
      .menu_button:hover {
        background-color: #F45734;
      }
    }
  }
  // блок с обложкой
  #index_cover {
    margin-top: 10vw;
  div:first-of-type {
    h1 {
      color: #F45734;
    }
    img {
       position: absolute;
       width: 4.5vw;
       top: -1vw;
       left:3.5vw;
    }
  }
  div:last-of-type {
    position: relative;
    background-color: #E7E9E8;
    width: 100%;
    height: 38vw;
    overflow: hidden;
    border-radius: 1.17vw;
    margin: 3vw 0;
    img {
      position: absolute;
      width: 100%;
    }
    img:last-of-type {
      width: 80%;
      mix-blend-mode: soft-light;
      opacity: 72%;
      right: 8vw;
      top: -10vw;
    }
  }
  p {
    width: 30.55vw;
    margin-left: 48vw;
  }
  }
  // блок со статьями
  #index_articles {
    display: flex;
    justify-content: space-between;
    div.header {
      width: 30vw;
      height: auto;
      img {
        position: absolute;
        width: 4vw;
        height: auto;
        top: 4.2vw;
      }
    }
    // карточки статей
    .articles_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 58vw;
      height: 30vw;
      .article_card {
        width: 28.4vw;
        transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
        border-radius: 1.17vw;
        .article_cover {
          width: auto;
          overflow: hidden;
          height: 15.5vw;
          border: solid #E7E9E8 0.1vw;
          margin-bottom: 1vw;
          border-radius: 1.17vw;
          img {
            width: 100%;
            height: auto;
          }
        }
        p {
          color: #979b99;
        }
        // категории в статьях
        .article_cattegories {
          display: flex;
          flex-direction: row;
          margin-bottom: 1vw;
          div {
            margin-right: 0.7vw;
            padding: 0.5vw 2vw;
            width: auto;
            height: 2.4vw;
            background: #F45734;
            border-radius: 2vw;
          }
          p {
            font-size: 1vw ;
            font-weight: 300;
            color: #ffffff;
          }
        }
      }
      // анимация при наведении курсора у статей
      .article_card:hover {
        box-shadow: 0px 0px 0px 0.5vw #ffffff, 0px 0px 0px 0.6vw #0000003a;
      }

    }

  }
  // блок с памятками
  #index_memos {
    .header {
      margin-bottom: 3vw;
      img {
        position: absolute;
        width: auto;
        height: 4.5vw;
        top:-1vw;
        left: 23.5vw;
      }
    }
    // карточки памяток
    .memo_cards {
      display: flex;
      position: relative;
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
    }
    .memo_card {
      position: relative;
      overflow: hidden;
      width: 28.5vw;
      height: 45vw;
      border: 0.1vw solid #E7E9E8;
      border-radius: 1.17vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.6vw;
     
      img:nth-of-type(1) {
        position: absolute;
        bottom:0vw;
        width: 100%;
        height: 85%;
      }
      img:nth-of-type(2) {
        position: absolute;
        width: 180%;
        mix-blend-mode: soft-light;
        opacity: 72%;
        right: -14vw;
        top: 4vw;
      }
      h3 {
        position: relative;
        margin-top: 2vw;
        text-align: center;
      }
      .bmush2 {
        position: absolute;
        width: 3vw;
        height: auto;
        left: 15vw;
        top: 2.5vw;
      }
      .bmush3 {
        position: absolute;
        width: 3.5vw;
        height: auto;
        left: 15.3vw;
        top: 3.5vw;
      }
      .bmush4 {
        position: absolute;
        width: 4vw;
        height: auto;
        left: 14.5vw;
        top: 3vw;
      }
      // кнопки перехода к памятке и скачивания
      .memo_buttons {
        position: relative;
        margin-top: auto;
        margin-bottom: 0;
        width: 100%;
        height: 12%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .memo_more {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #211F1D;
          width: 75%;
          height: 100%;
          border: none;
          border-radius: 1.2vw;
          padding: 0 2vw;
          overflow: hidden;
          p {
            position: relative;
            color: #ffffff;
          }
          img {
            position: relative;
            width: auto;
            height: 28%;
          }
          // анимация для кнопки перехода к памятке
          .memo_more_animation {
            position: absolute;
            width: 30vw;
            height: 10vw;
            border-radius: 10vw;
            background-color: #F45734;
            transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
            left: -30vw;
          }
          &:hover {
            .memo_more_animation {
              left: -3vw;
            }
          }
  
        }
        // кнопка для скачивания
        .memo_download {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #F45734;
          width: 20%;
          height: 100%;
          border: none;
          border-radius: 5vw;
          overflow: hidden;
          transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
          img {
            position: relative;
            width: auto;
            height: 38%;
          }
          &:hover {
            box-shadow: 0px 0px 0px 0.5vw #ffffff, 0px 0px 0px 0.6vw #0000003a;
          }
        }
      }
   
    }
  }
  // блок с рецептами
  #index_recipes {
    display: flex;
    justify-content: space-between;
    .header {
      img {
        position: absolute;
        width: 4vw;
        height: auto;
        top: 4.2vw;
      }
    }
    // карточки с рецептами
    .recipe_cards {
      .recipe_card {
        width: 59vw;
        margin-bottom: 2.4vw;
        border-radius: 1.17vw;
        transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
        .recipe_cover {
          width: auto;
          overflow: hidden;
          height: 15.5vw;
          border: solid #E7E9E8 0.1vw;
          margin-bottom: 1vw;
          border-radius: 1.17vw;
          img {
            height: 100%;
            width: auto;
          }
        }
        p {
          color: #979b99;
        }
        // рейтинг у карточек рецептов
        .recipe_rating {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0.5vw 2vw;
          width: 14vw;
          background: #ffffff;
          border: solid #F45734 0.1vw;
          border-radius: 2vw;
          margin-bottom: 1vw;
          img {
            width: 1.5vw;
            height: auto;
            margin-right: 1vw;
          }
          p {
            font-size: 1vw ;
            font-weight: 300;
            color: #979b99;
          }
        }
        // анимация при наведении курсора на карточку
        &:hover {
          box-shadow: 0px 0px 0px 0.5vw #ffffff, 0px 0px 0px 0.6vw #0000003a;
        }
      }
    }
  }
  // блок с тестами
  #index_tests {
    .header {
      margin-bottom: 3vw;
      img {
        position: absolute;
        width: 4vw;
        height: auto;
        top: -2vw;
        left: 12vw;
      }
    }
    // плашка за карточками тестов
    .test_cover {
      position: absolute;
      width: 100%;
      height: 36vw;
      img:first-of-type {
        width: 100%;
        height: 100%;
      }
      img:last-of-type {
        position: absolute;
        width: 80%;
        mix-blend-mode: soft-light;
        opacity: 72%;
        right: 8vw;
        top: 0vw;
      }
    }
    // карточки тестов
    .test_cards {
      height: 36vw;
      padding: 4vw;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;
      .test_card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 25vw;
        padding: 2vw;
        height: 18vw;
        position: relative;
        background: #ffffff;
        border-radius: 1.17vw;
        overflow: hidden;
        p {
          position: relative;
          color: #979b99;
        }
        h4 {
          position: relative;
          color: #F45734;
        }
        // анимация выезжающей кнопки у тестов
        .test_more_animation {
          position: absolute;
          width: 30vw;
          height: 10vw;
          border-radius: 10vw;
          background-color: #F45734;
          transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
          top: 1vw;
          right: -30vw;
          padding: 1vw 4vw ;
          display: flex;
          align-items: center;
          img {
            position: relative;
            width: auto;
            height: 28%;
          }
        }
        &:hover {
          .test_more_animation {
            right: -20vw;
          }
        }
      }
    }
  }
  // блок с библиотекой грибов
  #index_wiki {
    display: flex;
    justify-content: space-between;
    div.header {
      width: 30vw;
      height: auto;
      img {
        position: absolute;
        width: 4vw;
        height: auto;
        top: 4.2vw;
        left: 9.5vw;
      }
    }
    // карточки с грибами
    .wiki_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 58vw;
      .wiki_card {
        width: 18.2vw;
        height: 26vw;
        margin-bottom: 2vw;
        .wiki_cover {
          width: 100%;
          overflow: hidden;
          height: 75%;
          border: solid #E7E9E8 0.1vw;
          margin-bottom: 1vw;
          border-radius: 1.17vw;
          img:first-of-type {
            height: 100%;
            width: 100%;
          }
          p {
            color: #979b99;
          }
          h4 {
            position: absolute;
            margin: 2vw;
            color: #F45734;
          }
        }
      }
    }
    // кнопка для перехода на страничку гриба
    .wiki_more {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #211F1D;
      width: 100%;
      height: 20%;
      border: none;
      border-radius: 1.2vw;
      padding: 0 2vw;
      p {
        position: relative;
        color: #ffffff;
        font-weight: 200;
      }
      img {
        position: relative;
        width: auto;
        height: 28%;
      }
      // анимация кнопки для перехода на страничку гриба
      .wiki_more_animation {
        position: absolute;
        width: 30vw;
        height: 10vw;
        border-radius: 10vw;
        background-color: #F45734;
        transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
        left: -30vw;
      }
      &:hover {
        .wiki_more_animation {
          left: -3vw;
        }
      }
    }
  }
  // блок с формой
  #index_form {
    display: flex;
    flex-direction: row;
    .in_form_cover {
      position: relative;
      overflow: hidden;
      background-color: #F45734;
      border-radius: 1.17vw;
      width: 50vw;
      height: 54vw;
      margin-right: 2vw;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      img:last-of-type {
        opacity: 40%;
        mix-blend-mode: soft-light;
        width: 85vw;
        height: auto;
        left: -33vw;
        top: -10vw;
      }
      h2 {
        position: absolute;
        text-align: center;
        bottom: 3.5vw;
      }
    }
    // форма
    form {
      height: 54vw;
      width: 36vw;
      border: solid #F45734 0.1vw;
      border-radius: 1.17vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      p {
      text-align: center;
      padding: 3vw;
      }
      .input-field {
        position: relative;
        width: 80%;
      }
      .input {
        margin-top: 2vw;
        width: 100%;
        outline: none;
        border-radius: 1vw;
        height: 5vw;
        border: 0.1vw solid #E7E9E8;
        background: transparent;
        padding-left: 2vw;
        font-size: 1.4vw;
        
      }
      .input:focus {
        border: 0.1vw solid #F45734;
      }
      .input-field .label {
        position: absolute;
        top: 56%;
        left: 1.5vw;
        color: #E7E9E8;
        transition: all 0.3s ease;
        pointer-events: none;
        z-index: 2;
        font-size: 1.4vw;
      }
      .input-field .input:focus ~ .label,
      .input-field .input:valid ~ .label {
        font-size: 1.2vw;
        top: 1.6vw;
        left: 2vw;
        color: #F45734;
        background-color: #ffffff;
        padding-left: 0.2vw;
        padding-right: 0.2vw;
      }
      #my-form-button {
        font-size: 1.4vw;
        width: 80%;
        margin-top: 2vw;
        height: 7vw;
        border-radius: 1vw;
        border: 0;
        outline: none;
        color: #ffffff;
        background: #F45734;
        transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
        cursor: pointer;
      }
      #my-form-button:hover {
        box-shadow: 0px 0px 0px 0.5vw #ffffff, 0px 0px 0px 0.6vw #0000003a;
      }
      
    }
  }
  // подвал
  footer {
    width: 100%;
    height: 16vw;
    border-radius: 1.17vw 1.17vw 0px 0px;
    background: #211F1D;
    padding: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // Списки полезностей
    .footer_cattegories {
      width: 38vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h5 {
        color: #979b99;
      }
      h6 {
        transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
        color: #ffffff;
        margin: 0.8vw 0vw;
      }
      h6:hover {
        color: #F45734;
      }
      // блок с соц сетями
      .footer_social_network {
        h5 {
          margin-bottom: 0.5vw;
        }
        .social_network {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 6.4vw;
          height: auto;

          .telegram_button, .dzen_button {
            width: 3vw;
            height: 3vw;
            svg {
              width: 100%;
              height: 100%;
              
              rect {
                fill: none;
                stroke: #F45734;
                stroke-dashoffset: 1vw;
                stroke-opacity: 1;
                transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
              }
              &:hover {
                rect {
                  fill: #F45734;
                  
                }
              }
            }
          }
        }
      }

    }
  }
}
