body.styleguide {
    width: 100%;
    background-color: var(--Mushy-White);
    padding-top: 4vw;
    .styleguide_menu {
        position: fixed;
        left: 5vw;
        h5 {
            transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
            text-transform: none;
            color: var(--Misty-Grey);
            margin: 1.2vw 0;
        }
        h5:hover {
            color: var(--Fox);
        }
        h5.active {
            color: var(--Fox); 
        }
    }
    .style_cover {
        position: relative;
        width: 89.5vw;
        height: auto;
        background-color: var(--Fox);
        border-radius: 1.17vw;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        overflow-x: unset;
        h2 {
            color: var(--Mushy-White);
        }
        .vectors-1 {
            position: absolute;
            top: 7vw;
            left: -18vw;
        }
        .vectors-2 {
            position: absolute;
            top: 7vw;
            right: -24vw;
        }
        h4 {
            margin-top: 7vw;
            color: var(--Mushy-White);
        }
    }
    .style_subtitle {
        position: relative;
        display: flex;
        text-transform: none;
        justify-content: space-between;
        margin: 3vw 0;
        width: 53.2vw;
        color: var(--Charcoal);
        h3:last-of-type {
            font-size: 2vw;
            color: var(--Fox);
        }
    }
    .about_brand, .values, .tone_of_voice, .logotip, .colors, .typography, .grid, .graphic, .merch {
        margin: 4vw 0 0 36vw;
        p {
            width: 82%;
        }
    }
    .values_back {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.2vw;
        background: var(--Fox);
        justify-content: center;
        padding: 2.4vw 6vw;
        border-radius: 1.17vw;
        div {
            padding: 0.5vw 2vw;
            width: auto;
            height: 2.4vw;
            background: #FFFFFF;
            border-radius: 2vw;
          }
          h5 {
            margin-top: 0.25vw;
            font-weight: 500;
            text-transform: uppercase;
            color: #211F1D;
          }
        img {
            position: absolute;
            width: 80vw;
            height: auto;
            top: -12vw;
            left: -10vw;
            opacity: 40%;
            mix-blend-mode: soft-light;
        }
    }
    .logotip {
        p span {
            color: var(--Fox);
        }
        .logo_back {
            padding: 2.4vw 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 1.2vw;
            flex-wrap: wrap;
            justify-content: center;
            img {
                border-radius: 1.17vw;
                width: 16.8vw;
                height: 8.7vw;
                &:first-of-type {
                    border: solid 0.2vw var(--Misty-Grey);
                }
            }
        }
        .l1 {
            width: 18vw;
            height: auto;
            margin: 2.4vw 18vw;
        }
        .l2 {
            width: 100%;
            height: auto;
            margin: 2.4vw 0;
        }
        .l3 {
            width: 100%;
            height: auto;
            margin-top: 2.4vw;
        }
    }

    .color_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.4vw;
        width: 42vw;
        h6 {
            font-weight: 500;
        }
        .hex {
            color: var(--Ashy-Grey);
        }
        .color_b {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.2vw;
            .w, .f, .c {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 12.4vw;
                height: 12.4vw;
                border-radius: 100%;

            }
            .w {
                border: solid 0.2vw var(--Misty-Grey);
                background-color: var(--Mushy-White);
            }
            .c {
                background-color: var(--Charcoal);
                .hex {
                    color: var(--Mushy-White);
                }
            }
            .f {
                background-color: var(--Fox);
                .hex {
                    color: var(--Mushy-White);
                }
            }
        }
        .color_m {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.2vw;
            .l, .m, .a, .b, .s, .r, .fg, .g {
                width: 8.6vw;
                height: 8.6vw;
                border-radius: 100%;  
            }
            .l {
                background-color: #ECECEC;
            }
            .m {
                background-color: #D7D7D7;
            }
            .a {
                background-color: #979B99;
            }
            .b {
                background-color: #0B0B0B;
            }
            .s {
                background-color: #F2B456;
            }
            .r {
                background-color: #DB6666;
            }
            .g {
                background-color: #99AE5B;
            }
            .fg {
                background: linear-gradient(17deg, #FFBE5C 6.21%, #E0580B 127.63%);
            }
        }
    }

    .typography {
        p {
            margin-bottom: 1.2vw;
        }
        h4 {
            margin-bottom: 1.2vw;
        }
        h6 {
            color: #979b99;
            margin: -1.5vw  0 2vw 0;
        }
        .reg, .med {
            margin-bottom: 3.6vw;
        }
        .reg {
            h4 {
                font-weight: 400;
            }
        }
        .med {
            h4 {
                font-weight: 500;
            }
        }
    }
    .grid_back {
        position: absolute;
        margin-top: -2.5vw;
        width: 97.6vw;
        height: 112vw;
        left: 1.2vw;
        border-radius: 1.17vw;
        background-color: var(--Fox);
    }
    .grid {
        img {
            position: relative;
            margin-left: -35vw;
            width: 89.5vw;
            height: auto;
        }
        .style_subtitle {
            margin-bottom: 0;
            h3 {
                color: var(--Mushy-White);
            }
        }
    }
    .graphic {
        p {
            margin: 1.2vw 0 0.2vw 0;
        }
        .g1, .g2, .g3 {
            width: 100%;
            height: auto;
            border-radius: 1.17vw;
        }
        .dva {
            margin: 1.2vw 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .g4 {
                width: 24vw;
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 1.17vw;
                }
                .w {
                    border: solid 0.2vw var(--Misty-Grey);
                    background-color: var(--Mushy-White);
                }
            }
        }
        .g5 {
            margin-top: 3.6vw;
        }
    }
    .merch {
        p {
            margin: 1.2vw 0;
        }
    }
    .merch_cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2vw;
        padding-bottom: 2.4vw;
        img {
            border-radius: 1.17vw; 
        }
        .m-1 {
            width: 100%;
            height: auto;
        }
        .m-2 {
            width: 48.8%;
            height: auto;
        }
    }
}
