    <!-- Менюшка -->
    <menu class="O_Menubar">
        <!-- Кнопки для разделов -->
        <div class="M_SectionsMenubar">
         <a class="A_TextMenubar" href="articles.html">Cтатьи</a>
         <a class="A_TextMenubar" href="memos.html">Памятки</a>
         <a class="A_TextMenubar" href="recipes.html">Рецепты</a>
         <a class="A_TextMenubar" href="gribwiki.html">Грибвики</a>
         <a class="A_TextMenubar" href="tests.html">Тесты</a>
        </div>
        <!-- Поиск -->
        <div class="W_Search">
        </div>
        <!-- Логотипчег -->
        <a class="Q_LogoIcon" href="index.html"></a>
      </menu>