    <!-- Менюшка -->
    <menu class="O_Menubar">
        <!-- Кнопки для разделов -->
        <div class="M_SectionsMenubar">
         <a class="A_TextMenubar" href="https://hseadc.github.io/MUSHBOOM/articles.html">Cтатьи</a>
         <a class="A_TextMenubar" href="https://hseadc.github.io/MUSHBOOM/memos.html">Памятки</a>
         <a class="A_TextMenubar" href="https://hseadc.github.io/MUSHBOOM/recipes.html">Рецепты</a>
         <a class="A_TextMenubar" href="https://hseadc.github.io/MUSHBOOM/gribwiki.html">Грибвики</a>
         <a class="A_TextMenubar" href="https://hseadc.github.io/MUSHBOOM/tests.html">Тесты</a>
        </div>
        <!-- Поиск -->
        <div class="W_Search">
        </div>
        <a class="Q_SearchButton" href="https://hseadc.github.io/MUSHBOOM/search.html"></a>
        <!-- Логотипчег -->
        <a class="Q_LogoIcon" href="https://hseadc.github.io/MUSHBOOM/index.html"></a>
      </menu>