.Q_SearchField {
    width: 92%;
    height: 3.2vw;
    background-color: var(--Mushy-White) 0%;
    border: none;
    color: var(--Ashy-Grey);
    font-size: 1vw;
    &::placeholder {
        color: var(--Ashy-Grey);
        font-size: 1vw;
        font-weight: 500;
    }
    &:hover, &:focus {
        outline: none;
        border: none;
        color: var(--Mushy-White);
    }
}